.card-container {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.card-container:hover {
    transform: scale(1.05);
}

.monster-image {
    margin-bottom: 1vw;
}

.monster-name {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    margin: 0;
}

.monster-email {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
}